.sticky {
  display: block;
}

.post,
.page {
  // margin: 0 0 1.5em;
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 2.5rem 0 0;

  body.page-template-default & {
    margin: 0;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-template-default {
  .type-page {
    // @include max-width-post;

    .entry-header {
      margin-bottom: 48px;
    }

    .entry-title {
      margin: 0;
      font-size: 48px;
      line-height: 1.1;
    }
  }
}

.page-template-page-staff {
  .type-page {
    .entry-body {
      @include max-width-post;
      @include single-typography-set;
    }
    .entry-title {
      margin: 0;
      font-size: 48px;
      line-height: 1.1;
    }
  }
}

//SECTION - single-post
.single-post {
  .type-post {
    .entry-body {
      @include max-width-post;

      .entry-title {
        margin: 0;
        font-size: 48px;
        line-height: 1.1;
      }

      .entry-content {
        @include single-typography-set;
      }

      table {
        border: none;
        th {
          font-weight: bold;
          background-color: $color__divider;
          border: unset;
          border-bottom: solid 1px currentColor;
          text-align: center;
        }
        td {
          border: unset;
          border-bottom: solid 1px $color__divider;
        }
        tr {
          &:nth-child(2n + 1) {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}
//!SECTION

//SECTION - single-staff
.single-staff {
  .type-staff {
    .post-thumbnail {
      border-radius: 50%;
      overflow: hidden;
      width: 192px;
      img {
        width: 192px;
        aspect-ratio: 1 / 1;
      }
    }
    .entry-body {
      @include max-width-post;
      .entry-header {
        .entry-title {
          line-height: 1.5;
          font-size: $font-size__h5;
        }
      }
      .entry-content {
        @include single-typography-set;
      }
    }
  }
}
//!SECTION

//SECTION - .entry-meta
.entry-meta {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  font-size: $font-size__caption;
  color: $color__text-secondary;

  a {
    @include link-unset;
  }

  i.fa-regular {
    margin-right: 0.25em;
  }
}
//!SECTION

//SECTION - Archive
body.archive {
  .site-main {
    @include max-width-post;
    max-width: $max-width__md;

    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    .type-post {
      position: relative;
      aspect-ratio: 3 / 4;
      border: solid 1px $color__divider;
      border-radius: 1rem;
      overflow: hidden;
      background-color: $color__divider;
      transition: all 0.25s;

      .post-thumbnail {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .entry-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.5) 75%,
          rgba(255, 255, 255, 0) 100%
        );
        padding: 2rem 1rem 1rem;

        .entry-title {
          font-size: $font-size__h6;
          font-weight: bold;
          margin: 0;

          a {
            color: inherit;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &:hover {
        transform: translateY(-0.5rem);
      }
    }

    .posts-navigation {
      margin-top: 2.5rem;
    }
  }
}
//!SECTION

.nav-next,
.nav-previous {
  a {
    display: inline-block;
    background-color: var(--bs-primary);
    color: white;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 0.25rem;
    text-decoration: none;
    &::after,
    &::before {
      font-family: "Font Awesome 6 Pro";
      display: inline-block;
    }
  }
}
.nav-next {
  a {
    &::after {
      content: "";
      margin-left: 0.25rem;
    }
  }
}
.nav-previous {
  a {
    &::before {
      content: "";
      margin-right: 0.25rem;
    }
  }
}

.wp-block-post-content,
.entry-content {
  @include header-set;

  .wp-block-group {
    @include header-set;
  }
}

.jpaenc {
  width: 100%;
  max-width: $max-width__lg;
  aspect-ratio: 2 / 1;
  background-image: url("./images/jpaenc_bg.png");
  background-size: cover;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;

  form {
    width: 100%;
    max-width: $max-width__sm;
    background-color: #faf7e8;
    padding: 1rem;
    box-sizing: border-box;

    @include header-set;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      font-weight: normal;
    }

    .search-box {
      display: flex;
      position: relative;
      input[type="text"] {
        flex: 1;
        padding: 0.75rem 1rem;
        padding-right: 4rem;
      }
      button {
        background: none;
        position: absolute;
        border: none;
        right: 0%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: $max-width__md) {
    aspect-ratio: 1 / 1;
  }
}
