@charset "UTF-8";
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
	justify-content: flex-end;
}

body.admin-bar .main-navigation {
	top: 32px;
	height: calc(100dvh - 32px);
}

@media screen and (min-width: 600px) and (max-width: 782px) {
	body.admin-bar .main-navigation {
		top: 46px;
		height: calc(100dvh - 46px);
	}
}

@media screen and (max-width: 599.99px) {
	body.admin-bar .main-navigation {
		top: 0px;
		height: 100dvh;
	}
}

.main-navigation > div:not(.menu-toggle) {
	width: 75%;
	max-width: 360px;
	height: 100%;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 3rem 1.5rem;
	box-shadow: -8px 0 16px rgba(0, 0, 0, 0.125);
	animation: slide-left 0.25s ease-in-out;
}

.main-navigation > div:not(.menu-toggle) ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.main-navigation > div:not(.menu-toggle) ul li a {
	font-size: 1.5rem;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation > div:not(.menu-toggle) ul li a::before {
	content: " ";
	font-family: "Font Awesome 6 Pro";
}

.main-navigation > div:not(.menu-toggle) ul li a:hover {
	text-decoration: underline;
}

.main-navigation > div:not(.menu-toggle) ul.sub-menu {
	padding-top: 1rem;
	padding-left: 1rem;
	gap: 1rem;
}

.main-navigation > div:not(.menu-toggle) ul.sub-menu li a {
	font-size: 1.125rem;
	font-weight: normal;
}

.main-navigation .menu-toggle {
	flex: 1;
	height: 100%;
}

.main-navigation.show {
	display: flex;
	animation: fade-in 0.25s ease-in-out;
}

.main-navigation.hide {
	animation: fade-out 0.25s ease-in-out;
}

.main-navigation.hide > div:not(.menu-toggle) {
	animation: slide-right 0.25s ease-in-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

.site-header {
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: solid 1px #00000022;
	z-index: 1200;
	padding-inline: 24px;
	display: flex;
	height: 64px;
	align-items: center;
}

body.admin-bar .site-header {
	top: 32px;
}

@media screen and (min-width: 600px) and (max-width: 782px) {
	body.admin-bar .site-header {
		top: 46px;
	}
}

@media screen and (max-width: 599.99px) {
	body.admin-bar .site-header {
		top: 0px;
	}
}

.site-header .flex-1 {
	flex: 1;
}

/* Post Edit Link
---------------------------------------- */
.post-edit-link {
	margin-top: 1rem;
	text-decoration: none;
	display: inline-block;
	border-radius: 0.25rem;
	padding: 4px 16px;
	color: var(--bs-warning, "inherit") !important;
	border: solid 1px currentColor;
	transition: all 0.25s;
}

.post-edit-link::before {
	content: "";
	font-family: 'Font Awesome 6 Pro';
	margin-right: 0.5rem;
}

.post-edit-link:hover {
	color: white !important;
	background-color: var(--bs-warning, "inherit") !important;
}

.nav-menu-button {
	height: 100%;
	display: flex;
	padding: 0 0.75rem;
	align-items: center;
	gap: 0.5rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 0;
	transition: all 0.25s;
}

.nav-menu-button .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}

.nav-menu-button .en {
	font-size: 0.5em;
	text-transform: uppercase;
}

.nav-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.nav-menu-button:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.nav-menu-button.edge-start {
	margin-left: -0.75rem;
}

.nav-menu-button.edge-end {
	margin-right: -0.75rem;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 2.5rem 0 0;
}

body.page-template-default .page-content, body.page-template-default
.entry-content, body.page-template-default
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-default .type-page .entry-header {
	margin-bottom: 48px;
}

.page-template-default .type-page .entry-title {
	margin: 0;
	font-size: 48px;
	line-height: 1.1;
}

.page-template-page-staff .type-page .entry-body {
	width: 100%;
	max-width: calc(640px + 48px);
	margin-inline: auto;
	padding-block: 48px;
	padding-inline: 24px;
	box-sizing: border-box;
}

.page-template-page-staff .type-page .entry-body h1,
.page-template-page-staff .type-page .entry-body h2,
.page-template-page-staff .type-page .entry-body h3,
.page-template-page-staff .type-page .entry-body h4,
.page-template-page-staff .type-page .entry-body h5,
.page-template-page-staff .type-page .entry-body h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.page-template-page-staff .type-page .entry-body > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h1 {
		font-size: 3.75rem;
	}
}

.page-template-page-staff .type-page .entry-body > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h2 {
		font-size: 3rem;
	}
}

.page-template-page-staff .type-page .entry-body > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h3 {
		font-size: 2.25rem;
	}
}

.page-template-page-staff .type-page .entry-body > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h4 {
		font-size: 1.875rem;
	}
}

.page-template-page-staff .type-page .entry-body > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h5 {
		font-size: 1.5rem;
	}
}

.page-template-page-staff .type-page .entry-body > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.page-template-page-staff .type-page .entry-body > h6 {
		font-size: 1.125rem;
	}
}

.page-template-page-staff .type-page .entry-body > p {
	margin: 0 auto 0.5em;
	font-size: 1rem;
}

.page-template-page-staff .type-page .entry-body > p::after {
	content: " ";
	display: inline-block;
}

.page-template-page-staff .type-page .entry-body table {
	margin: 0;
}

.page-template-page-staff .type-page .entry-body ul,
.page-template-page-staff .type-page .entry-body ol {
	font-size: 1rem;
	margin: 0;
}

.page-template-page-staff .type-page .entry-body ul {
	list-style: "-  ";
}

.page-template-page-staff .type-page .entry-title {
	margin: 0;
	font-size: 48px;
	line-height: 1.1;
}

.single-post .type-post .entry-body {
	width: 100%;
	max-width: calc(640px + 48px);
	margin-inline: auto;
	padding-block: 48px;
	padding-inline: 24px;
	box-sizing: border-box;
}

.single-post .type-post .entry-body .entry-title {
	margin: 0;
	font-size: 48px;
	line-height: 1.1;
}

.single-post .type-post .entry-body .entry-content h1,
.single-post .type-post .entry-body .entry-content h2,
.single-post .type-post .entry-body .entry-content h3,
.single-post .type-post .entry-body .entry-content h4,
.single-post .type-post .entry-body .entry-content h5,
.single-post .type-post .entry-body .entry-content h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.single-post .type-post .entry-body .entry-content > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h1 {
		font-size: 3.75rem;
	}
}

.single-post .type-post .entry-body .entry-content > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h2 {
		font-size: 3rem;
	}
}

.single-post .type-post .entry-body .entry-content > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h3 {
		font-size: 2.25rem;
	}
}

.single-post .type-post .entry-body .entry-content > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h4 {
		font-size: 1.875rem;
	}
}

.single-post .type-post .entry-body .entry-content > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h5 {
		font-size: 1.5rem;
	}
}

.single-post .type-post .entry-body .entry-content > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.single-post .type-post .entry-body .entry-content > h6 {
		font-size: 1.125rem;
	}
}

.single-post .type-post .entry-body .entry-content > p {
	margin: 0 auto 0.5em;
	font-size: 1rem;
}

.single-post .type-post .entry-body .entry-content > p::after {
	content: " ";
	display: inline-block;
}

.single-post .type-post .entry-body .entry-content table {
	margin: 0;
}

.single-post .type-post .entry-body .entry-content ul,
.single-post .type-post .entry-body .entry-content ol {
	font-size: 1rem;
	margin: 0;
}

.single-post .type-post .entry-body .entry-content ul {
	list-style: "-  ";
}

.single-post .type-post .entry-body table {
	border: none;
}

.single-post .type-post .entry-body table th {
	font-weight: bold;
	background-color: #00000022;
	border: unset;
	border-bottom: solid 1px currentColor;
	text-align: center;
}

.single-post .type-post .entry-body table td {
	border: unset;
	border-bottom: solid 1px #00000022;
}

.single-post .type-post .entry-body table tr:nth-child(2n + 1) {
	background-color: rgba(0, 0, 0, 0.05);
}

.single-staff .type-staff .post-thumbnail {
	border-radius: 50%;
	overflow: hidden;
	width: 192px;
}

.single-staff .type-staff .post-thumbnail img {
	width: 192px;
	aspect-ratio: 1 / 1;
}

.single-staff .type-staff .entry-body {
	width: 100%;
	max-width: calc(640px + 48px);
	margin-inline: auto;
	padding-block: 48px;
	padding-inline: 24px;
	box-sizing: border-box;
}

.single-staff .type-staff .entry-body .entry-header .entry-title {
	line-height: 1.5;
	font-size: 1.875rem;
}

.single-staff .type-staff .entry-body .entry-content h1,
.single-staff .type-staff .entry-body .entry-content h2,
.single-staff .type-staff .entry-body .entry-content h3,
.single-staff .type-staff .entry-body .entry-content h4,
.single-staff .type-staff .entry-body .entry-content h5,
.single-staff .type-staff .entry-body .entry-content h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.single-staff .type-staff .entry-body .entry-content > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h1 {
		font-size: 3.75rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h2 {
		font-size: 3rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h3 {
		font-size: 2.25rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h4 {
		font-size: 1.875rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h5 {
		font-size: 1.5rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.single-staff .type-staff .entry-body .entry-content > h6 {
		font-size: 1.125rem;
	}
}

.single-staff .type-staff .entry-body .entry-content > p {
	margin: 0 auto 0.5em;
	font-size: 1rem;
}

.single-staff .type-staff .entry-body .entry-content > p::after {
	content: " ";
	display: inline-block;
}

.single-staff .type-staff .entry-body .entry-content table {
	margin: 0;
}

.single-staff .type-staff .entry-body .entry-content ul,
.single-staff .type-staff .entry-body .entry-content ol {
	font-size: 1rem;
	margin: 0;
}

.single-staff .type-staff .entry-body .entry-content ul {
	list-style: "-  ";
}

.entry-meta {
	display: flex;
	margin-top: 0.5rem;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.625rem;
	color: #999999;
}

.entry-meta a:hover, .entry-meta a:active, .entry-meta a:visited, .entry-meta a:focus {
	color: inherit;
}

.entry-meta i.fa-regular {
	margin-right: 0.25em;
}

body.archive .site-main {
	width: 100%;
	max-width: calc(640px + 48px);
	margin-inline: auto;
	padding-block: 48px;
	padding-inline: 24px;
	box-sizing: border-box;
	max-width: 960px;
}

body.archive .site-main .card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

body.archive .site-main .type-post {
	position: relative;
	aspect-ratio: 3 / 4;
	border: solid 1px #00000022;
	border-radius: 1rem;
	overflow: hidden;
	background-color: #00000022;
	transition: all 0.25s;
}

body.archive .site-main .type-post .post-thumbnail {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

body.archive .site-main .type-post .post-thumbnail img {
	width: 100%;
	height: 100%;
}

body.archive .site-main .type-post .entry-body {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
	padding: 2rem 1rem 1rem;
}

body.archive .site-main .type-post .entry-body .entry-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}

body.archive .site-main .type-post .entry-body .entry-title a {
	color: inherit;
	text-decoration: none;
}

body.archive .site-main .type-post .entry-body .entry-title a:hover {
	text-decoration: underline;
}

body.archive .site-main .type-post:hover {
	transform: translateY(-0.5rem);
}

body.archive .site-main .posts-navigation {
	margin-top: 2.5rem;
}

.nav-next a,
.nav-previous a {
	display: inline-block;
	background-color: var(--bs-primary);
	color: white;
	padding: 0.5rem 1rem;
	align-items: center;
	border-radius: 0.25rem;
	text-decoration: none;
}

.nav-next a::after, .nav-next a::before,
.nav-previous a::after,
.nav-previous a::before {
	font-family: "Font Awesome 6 Pro";
	display: inline-block;
}

.nav-next a::after {
	content: "";
	margin-left: 0.25rem;
}

.nav-previous a::before {
	content: "";
	margin-right: 0.25rem;
}

.wp-block-post-content h1,
.wp-block-post-content h2,
.wp-block-post-content h3,
.wp-block-post-content h4,
.wp-block-post-content h5,
.wp-block-post-content h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.wp-block-post-content > h1,
.entry-content > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h1,
	.entry-content > h1 {
		font-size: 3.75rem;
	}
}

.wp-block-post-content > h2,
.entry-content > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h2,
	.entry-content > h2 {
		font-size: 3rem;
	}
}

.wp-block-post-content > h3,
.entry-content > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h3,
	.entry-content > h3 {
		font-size: 2.25rem;
	}
}

.wp-block-post-content > h4,
.entry-content > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h4,
	.entry-content > h4 {
		font-size: 1.875rem;
	}
}

.wp-block-post-content > h5,
.entry-content > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h5,
	.entry-content > h5 {
		font-size: 1.5rem;
	}
}

.wp-block-post-content > h6,
.entry-content > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h6,
	.entry-content > h6 {
		font-size: 1.125rem;
	}
}

.wp-block-post-content .wp-block-group h1,
.wp-block-post-content .wp-block-group h2,
.wp-block-post-content .wp-block-group h3,
.wp-block-post-content .wp-block-group h4,
.wp-block-post-content .wp-block-group h5,
.wp-block-post-content .wp-block-group h6,
.entry-content .wp-block-group h1,
.entry-content .wp-block-group h2,
.entry-content .wp-block-group h3,
.entry-content .wp-block-group h4,
.entry-content .wp-block-group h5,
.entry-content .wp-block-group h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.wp-block-post-content .wp-block-group > h1,
.entry-content .wp-block-group > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h1,
	.entry-content .wp-block-group > h1 {
		font-size: 3.75rem;
	}
}

.wp-block-post-content .wp-block-group > h2,
.entry-content .wp-block-group > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h2,
	.entry-content .wp-block-group > h2 {
		font-size: 3rem;
	}
}

.wp-block-post-content .wp-block-group > h3,
.entry-content .wp-block-group > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h3,
	.entry-content .wp-block-group > h3 {
		font-size: 2.25rem;
	}
}

.wp-block-post-content .wp-block-group > h4,
.entry-content .wp-block-group > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h4,
	.entry-content .wp-block-group > h4 {
		font-size: 1.875rem;
	}
}

.wp-block-post-content .wp-block-group > h5,
.entry-content .wp-block-group > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h5,
	.entry-content .wp-block-group > h5 {
		font-size: 1.5rem;
	}
}

.wp-block-post-content .wp-block-group > h6,
.entry-content .wp-block-group > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content .wp-block-group > h6,
	.entry-content .wp-block-group > h6 {
		font-size: 1.125rem;
	}
}

.jpaenc {
	width: 100%;
	max-width: 1280px;
	aspect-ratio: 2 / 1;
	background-image: url("./images/jpaenc_bg.png");
	background-size: cover;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

.jpaenc form {
	width: 100%;
	max-width: 640px;
	background-color: #faf7e8;
	padding: 1rem;
	box-sizing: border-box;
}

.jpaenc form h1,
.jpaenc form h2,
.jpaenc form h3,
.jpaenc form h4,
.jpaenc form h5,
.jpaenc form h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.jpaenc form > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h1 {
		font-size: 3.75rem;
	}
}

.jpaenc form > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h2 {
		font-size: 3rem;
	}
}

.jpaenc form > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h3 {
		font-size: 2.25rem;
	}
}

.jpaenc form > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h4 {
		font-size: 1.875rem;
	}
}

.jpaenc form > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h5 {
		font-size: 1.5rem;
	}
}

.jpaenc form > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.jpaenc form > h6 {
		font-size: 1.125rem;
	}
}

.jpaenc form h1,
.jpaenc form h2,
.jpaenc form h3,
.jpaenc form h4,
.jpaenc form h5,
.jpaenc form h6 {
	text-align: center;
	font-weight: normal;
}

.jpaenc form .search-box {
	display: flex;
	position: relative;
}

.jpaenc form .search-box input[type="text"] {
	flex: 1;
	padding: 0.75rem 1rem;
	padding-right: 4rem;
}

.jpaenc form .search-box button {
	background: none;
	position: absolute;
	border: none;
	right: 0%;
	height: 100%;
}

@media screen and (max-width: 960px) {
	.jpaenc {
		aspect-ratio: 1 / 1;
	}
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.post-thumbnail img {
	aspect-ratio: 3 / 1;
	object-fit: cover;
	object-position: center center;
}

.staff-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 48px;
}

.staff-list-item {
	aspect-ratio: 6 / 1;
	border: solid 1px #00000022;
	display: flex;
	color: inherit;
	text-decoration: none;
	transition: all 0.25s;
	border-radius: 8px;
	overflow: hidden;
}

.staff-list-item .list-item-image {
	background-color: #00000022;
	height: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.staff-list-item .list-item-image i.fa-regular {
	font-size: 3rem;
}

.staff-list-item .list-item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.staff-list-item .list-item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8px 16px;
	box-sizing: border-box;
	gap: 4px;
}

.staff-list-item .list-item-text .primary {
	font-size: 16px;
	font-weight: bold;
}

.staff-list-item .list-item-text .secondary {
	font-size: 12px;
	color: #999999;
}

a.staff-list-item:hover, a.staff-list-item:active, a.staff-list-item:visited, a.staff-list-item:focus {
	color: inherit;
}

a.staff-list-item:hover {
	transform: scale(1.05, 1.05);
}

.slideshow {
	width: 100%;
	aspect-ratio: 21 / 9;
}

.slideshow .cover-meta {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-inline: 48px;
	box-sizing: border-box;
}

.slideshow .cover-meta > * {
	width: 100%;
	max-width: calc(640px + 48px);
	margin-inline: auto;
	padding-block: 48px;
	padding-inline: 24px;
	box-sizing: border-box;
	margin-inline: auto;
	padding-block: 4px;
	padding-inline: 0px;
	text-align: center;
}

.slideshow .cover-meta > h3 {
	font-size: 3rem;
	font-weight: bold;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.slideshow .cover-meta > .categories {
	font-size: 0.625rem;
}

.slideshow .cover-meta > .categories a {
	color: inherit;
}

.slideshow .cover-meta .actions {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.slideshow .cover-meta .btn-readmore {
	display: block;
	border: solid 1px #FFFFFF;
	border-radius: 24px;
	padding: 4px 24px;
	width: fit-content;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.slideshow .cover-meta .btn-readmore .th {
	font-size: 1rem;
}

.slideshow .cover-meta .btn-readmore .en {
	font-size: 0.625rem;
}

.slideshow img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.5);
}

.slideshow .swiper-button-prev, .slideshow .swiper-button-next {
	filter: brightness(2) grayscale(1);
	cursor: pointer;
}

.slideshow .swiper-pagination-bullet-active {
	background-color: #FFFFFF;
}

@media (max-width: 720px) {
	.slideshow {
		aspect-ratio: 1 / 1;
	}
	.slideshow .cover-meta > h3 {
		font-size: 2.25rem;
	}
}

.highlight-container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	display: grid;
}

.highlight-container.highlight-column-1 {
	grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-1 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-1 {
	gap: 1rem;
}

.highlight-container.highlight-column-2 {
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-2 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-2 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-2 {
	gap: 2rem;
}

.highlight-container.highlight-column-3 {
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-3 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-3 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-3 {
	gap: 3rem;
}

.highlight-container.highlight-column-4 {
	grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-4 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-4 {
	gap: 4rem;
}

.highlight-container.highlight-column-5 {
	grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-5 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-5 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-5 {
	gap: 5rem;
}

.highlight-container.highlight-column-6 {
	grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-6 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-6 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-6 {
	gap: 6rem;
}

.highlight-container.highlight-column-7 {
	grid-template-columns: repeat(7, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-7 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-7 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-7 {
	gap: 7rem;
}

.highlight-container.highlight-column-8 {
	grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-8 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-8 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-8 {
	gap: 8rem;
}

.highlight-container.highlight-column-9 {
	grid-template-columns: repeat(9, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-9 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-9 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-9 {
	gap: 9rem;
}

.highlight-container.highlight-column-10 {
	grid-template-columns: repeat(10, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-10 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-10 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-10 {
	gap: 10rem;
}

.highlight-container.highlight-column-11 {
	grid-template-columns: repeat(11, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-11 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-11 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-11 {
	gap: 11rem;
}

.highlight-container.highlight-column-12 {
	grid-template-columns: repeat(12, 1fr);
}

@media screen and (max-width: 960px) {
	.highlight-container.highlight-column-12 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) {
	.highlight-container.highlight-column-12 {
		grid-template-columns: repeat(1, 1fr);
	}
}

.highlight-container.highlight-spacing-12 {
	gap: 12rem;
}

.highlight-container .highlight-item {
	position: relative;
	width: 100%;
	aspect-ratio: 3 / 4;
	border: solid 1px #00000022;
	display: flex;
	flex-direction: column;
	transition: all 0.25s;
	background-color: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
}

.highlight-container .highlight-item .highlight-image {
	width: 100%;
	height: 100%;
}

.highlight-container .highlight-item .highlight-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.highlight-container .highlight-item .highlight-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 8rem 2rem 2rem;
	overflow: hidden;
	background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 100%);
}

.highlight-container .highlight-item .highlight-content > h1,
.highlight-container .highlight-item .highlight-content h2,
.highlight-container .highlight-item .highlight-content h3,
.highlight-container .highlight-item .highlight-content h4,
.highlight-container .highlight-item .highlight-content h5,
.highlight-container .highlight-item .highlight-content h6 {
	line-height: 1.2;
	font-weight: bold;
}

.highlight-container .highlight-item .highlight-content > h1 a,
.highlight-container .highlight-item .highlight-content h2 a,
.highlight-container .highlight-item .highlight-content h3 a,
.highlight-container .highlight-item .highlight-content h4 a,
.highlight-container .highlight-item .highlight-content h5 a,
.highlight-container .highlight-item .highlight-content h6 a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
}

.highlight-container .highlight-item .highlight-content > h1 a .primary,
.highlight-container .highlight-item .highlight-content h2 a .primary,
.highlight-container .highlight-item .highlight-content h3 a .primary,
.highlight-container .highlight-item .highlight-content h4 a .primary,
.highlight-container .highlight-item .highlight-content h5 a .primary,
.highlight-container .highlight-item .highlight-content h6 a .primary {
	color: var(--primary-color);
}

.highlight-container .highlight-item .highlight-content > p {
	margin-bottom: 0;
}

.highlight-container .highlight-item:hover {
	transform: translateY(-0.25rem);
	box-shadow: 0 0.25rem 8px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 960px) {
	.highlight-container .highlight-item {
		aspect-ratio: 1 / 1;
	}
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Editor
--------------------------------------------------------------*/
.editor-styles-wrapper {
	width: 100%;
}

.edit-post-visual-editor__content-area .editor-styles-wrapper {
	max-width: 720px;
	margin-inline: auto;
}

.edit-post-visual-editor__content-area .editor-styles-wrapper .wp-block-post-title {
	font-size: 3rem;
}

.wp-block-post-content h1,
.wp-block-post-content h2,
.wp-block-post-content h3,
.wp-block-post-content h4,
.wp-block-post-content h5,
.wp-block-post-content h6 {
	font-family: var(--font-header-family);
	margin: 0 auto 0.5rem;
}

.wp-block-post-content > h1 {
	font-size: 4.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h1 {
		font-size: 3.75rem;
	}
}

.wp-block-post-content > h2 {
	font-size: 3.75rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h2 {
		font-size: 3rem;
	}
}

.wp-block-post-content > h3 {
	font-size: 3rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h3 {
		font-size: 2.25rem;
	}
}

.wp-block-post-content > h4 {
	font-size: 2.25rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h4 {
		font-size: 1.875rem;
	}
}

.wp-block-post-content > h5 {
	font-size: 1.875rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h5 {
		font-size: 1.5rem;
	}
}

.wp-block-post-content > h6 {
	font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.wp-block-post-content > h6 {
		font-size: 1.125rem;
	}
}

.wp-block-post-content > p {
	margin: 0 auto 0.5em;
	font-size: 1rem;
}

.wp-block-post-content > p::after {
	content: " ";
	display: inline-block;
}

.wp-block-post-content table {
	margin: 0;
}

.wp-block-post-content ul,
.wp-block-post-content ol {
	font-size: 1rem;
	margin: 0;
}

.wp-block-post-content ul {
	list-style: "-  ";
}

/*# sourceMappingURL=adminstyle.css.map */