a {
	color: var(--bs-primary);

	&:visited {
		color: var(--bs-primary);
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--bs-primary);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
