$i: 1;
@while $i <= 10 {
  .p-#{$i} {
    padding: #{$i * 8}px;
  }
  .pt-#{$i} {
    padding-top: #{$i * 8}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i * 8}px;
  }
  .pl-#{$i} {
    padding-left: #{$i * 8}px;
  }
  .pr-#{$i} {
    padding-right: #{$i * 8}px;
  }
  .px-#{$i} {
    padding-left: #{$i * 8}px;
    padding-right: #{$i * 8}px;
  }
  .py-#{$i} {
    padding-top: #{$i * 8}px;
    padding-bottom: #{$i * 8}px;
  }
  .m-#{$i} {
    margin: #{$i * 8}px;
  }
  .mt-#{$i} {
    margin-top: #{$i * 8}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i * 8}px;
  }
  .ml-#{$i} {
    margin-left: #{$i * 8}px;
  }
  .mr-#{$i} {
    margin-right: #{$i * 8}px;
  }
  .mx-#{$i} {
    margin-left: #{$i * 8}px;
    margin-right: #{$i * 8}px;
  }
  .my-#{$i} {
    margin-top: #{$i * 8}px;
    margin-bottom: #{$i * 8}px;
  }
  $i: $i + 1
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.stack {
  display: flex;
  flex-direction: column;
}

$i: 1;
@while $i <= 10 {
  .stack-gap-#{$i} {
    gap: #{$i}rem;
  }
  $i: $i + 1
}