.single-staff {

  .entry-header {
    margin-block: 1rem;

    .entry-title {
      margin: 0;
    }

  }
}

.page-template-page-staff {
  .entry-content {

    p {
      &::after {
        content: "";
        display: inline-block;
      }
    }
  }

  .staff-shortcode {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  a.staff-shortcode-item {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 8px 0 #00000022;
    }
  }

  .staff-shortcode-item {
    display: flex;
    width: 100%;
    aspect-ratio: 6 / 1;
    border-radius: 8px;
    overflow: hidden;
    border: solid 1px #ccc;
    box-sizing: border-box;
    text-decoration: none;

    .staff-item-thumbail {
      width: calc(100% / 6);
      height: 100%;
      background-color: #00000022;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      i[class*="fa-"] {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }

    .staff-item-content {
      height: 100%;
      width: calc(100% * 5 / 6);
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        text-align: left;
        margin: 0 !important;
      }

      p {
        margin-top: 0.25rem;
        font-size: map-get($font__sizes, "caption" );
        color: $color__text-secondary;
        text-transform: uppercase;
      }
    }
  }
}